<!DOCTYPE html>
<html lang="en">
<head>
	
	<!--
		Basic
	-->
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
	<title>Ryan - vCard / Resume / CV Template</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="description" content="vCard & Resume Template" />
	<meta name="keywords" content="vcard, resposnive, resume, personal, card, cv, cards, portfolio" />
	<meta name="author" content="beshleyua" />
	
	<!--
		Load Fonts
	-->
	<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.0/css/all.css">
	
	<!--
		Load CSS
	-->
	<link rel="stylesheet" href="../static/css/basic.css" />
	<link rel="stylesheet" href="../static/css/layout.css" />
	<link rel="stylesheet" href="../static/css/blogs.css" />
	<link rel="stylesheet" href="../static/css/ionicons.css" />
	<link rel="stylesheet" href="../static/css/magnific-popup.css" />
	<link rel="stylesheet" href="../static/css/animate.css" />
	<link rel="stylesheet" href="../static/css/owl.carousel.css" />

	<!--
		Background Gradient
	-->
	<!--<link rel="stylesheet" href="css/gradient.css" />-->
	
	<!--
		Template New-Skin
	-->
	<!--<link rel="stylesheet" href="css/new-skin/new-skin.css" />-->

	<!--
		Template RTL
	-->
	<!--<link rel="stylesheet" href="css/rtl.css" />-->
	
	<!--
		Template Colors
	-->
	<!-- <link rel="stylesheet" href="../static/css/template-colors/green.css" /> -->
	<link rel="stylesheet" href="../static/css/template-colors/blue.css" />
	<!--<link rel="stylesheet" href="css/template-colors/orange.css" />-->
	<!--<link rel="stylesheet" href="css/template-colors/pink.css" />-->
	<!--<link rel="stylesheet" href="css/template-colors/purple.css" />-->
	<!--<link rel="stylesheet" href="css/template-colors/red.css" />-->

	<!--
		Template Dark
	-->
	<!--<link rel="stylesheet" href="css/template-dark/dark.css" />-->

	
	<!--[if lt IE 9]>
	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<!--
		Favicons
	-->
	<link rel="shortcut icon" href="../static/images/favicons/favicon.ico">
	
</head>

<body>
	<div class="page">
		
		<!-- preloader -->
		<div class="preloader">
			<div class="centrize full-width">
				<div class="vertical-center">
					<div class="spinner">
						<div class="double-bounce1"></div>
						<div class="double-bounce2"></div>
					</div>
				</div>
			</div>
		</div>

		<!-- background -->
		<div class="background"></div>

		<!--
			Container
		-->
		<div class="container opened" data-animation-in="fadeInUp" data-animation-out="fadeOutUp">


			<!--
				Card - Started
			-->
			<div class="card-started" id="home-card">

				<!--
					Profile
				-->
				<div class="profile">

					<!-- profile image -->
					<div class="slide" style="background-image: url(../static/images/bg.jpg);"></div>

					<!-- profile photo -->
					<div class="image">
						<img src="../static/images/profile.png" alt="" />
					</div>

					<!-- profile titles -->
					<div class="title">Chase Austin</div>
					<div class="subtitle">Software Developer</div>

					<!-- profile socials -->
					<div class="social">
						<a target="_blank" href="https://dribbble.com/"><span class="fab fa-dribbble"></span></a>
						<a target="_blank" href="https://twitter.com/"><span class="fab fa-twitter"></span></a>
						<a target="_blank" href="https://github.com/"><span class="fab fa-github"></span></a>
						<a target="_blank" href="https://www.spotify.com/"><span class="fab fa-spotify"></span></a>
						<a target="_blank" href="https://stackoverflow.com/"><span class="fab fa-stack-overflow"></span></a>
					</div>
					
					<!-- profile buttons -->
					<div class="lnks">
						<a href="#" class="lnk">
							<span class="text">Download CV</span>
							<span class="ion ion-archive"></span>
						</a>
						<a href="#" class="lnk discover">
							<span class="text">Contact Me</span>
							<span class="arrow"></span>
						</a>
					</div>

				</div>

			</div>

			<!-- 
				Card - About
			-->
			<div class="card-inner animated active" id="about-card">
				<div class="card-wrap">
					<div class="content about">

						<div class="title">About Me</div>
						
						<div class="row">
							<div class="col col-d-12 col-t-12 col-m-12 border-line-v">
								<div class="text-box">
									<p>
										Hi, a Software Develope from Ann Arbor, MI. I recenlty graduated from the University of Michigan in December 2019 and I currently work as a C# developer for Nexient.
									</p>
								</div>
								<div class="info-list">
									<ul>
										<li><b>Age:</b> 22</li>
										<li><b>Email:</b> chase7867@gmail.com</li>
										<li><b>Phone:</b> (989)-954-3566</li>
										<li><b>Address:</b> Ann Arbor, MI</li>
									</ul>
								</div>
							</div>
							<div class="clear"></div>
						</div>

						<div class="row">
							
							<div class="col col-d-6 col-t-6 col-m-12 border-line-v">
								<div class="resume-title border-line-h">
									<div class="icon"><i class="ion ion-university"></i></div>
									<div class="name">Education</div>
								</div>
								<div class="resume-items">
									<div class="resume-item border-line-h">
										<div class="date">2015 - 2019</div>
										<div class="name">The University of Michigan</div>
										<div class="company">Ann Arbor</div>
										<p>
											Bachelor's Degree in Computer Science, Minor in Entrepreneurship.
										</p>
									</div>
									<div class="resume-item border-line-h">
										<div class="date">2011 - 2015</div>
										<div class="name">Alma High School</div>
										<div class="company">Alma, MI</div>						
									</div>
								</div>
							</div>

							<div class="col col-d-6 col-t-6 col-m-12 border-line-v">
								<div class="resume-title border-line-h">
									<div class="icon"><i class="ion ion-briefcase"></i></div>
									<div class="name">Experience</div>
								</div>
								<div class="resume-items">
									<div class="resume-item border-line-h active">
										<div class="date">2013 - Present</div>
										<div class="name">Art Director</div>
										<div class="company">Facebook Inc.</div>
										<p>
											Collaborate with creative and development teams on the execution of ideas.
										</p>
									</div>
									<div class="resume-item border-line-h">
										<div class="date">2011 - 2012</div>
										<div class="name">Front-end Developer</div>
										<div class="company">Google Inc.</div>
										<p>
											Monitored technical aspects of the front-end delivery for several projects.
										</p>
									</div>
									<div class="resume-item">
										<div class="date">2009 - 2010</div>
										<div class="name">Senior Developer</div>
										<div class="company">Abc Inc.</div>
										<p>
											Optimize website performance using latest technology.
										</p>
									</div>
								</div>
							</div>
							<div class="clear"></div>
						</div>

						<div class="content clients">
							<div class="row client-items">
	
								<div class="col col-d-3 col-t-3 col-m-6 border-line-v">
									<div class="client-item">
										<div class="image">
											<a href="https://www.si.umich.edu/">
												<img src="../static/images/jobs/si.png"/>
											</a>
										</div>
									</div>
								</div>
	
								<div class="col col-d-3 col-t-3 col-m-6 border-line-v">
									<div class="client-item">
										<div class="image">
											<a href="https://www.engin.umich.edu/">
												<img src="../static/images/jobs/eecs.jpg"/>
											</a>
										</div>
									</div>
								</div>
	
								<div class="col col-d-3 col-t-3 col-m-6 border-line-v">
									<div class="client-item">
										<div class="image">
											<a href="https://michiganross.umich.edu/">
												<img src="../static/images/jobs/ross.png"/>
											</a>
										</div>
									</div>
								</div>
	
								<div class="col col-d-3 col-t-3 col-m-6 border-line-v">
									<div class="client-item">
										<div class="image">
											<a href="https://www.nexient.com/">
												<img src="../static/images/jobs/nexient.png"/>
											</a>
										</div>
									</div>
								</div>
	
								<div class="clear"></div>
							</div>
						</div>

						<div class="content skills">
							<div class="title">My Skills</div>
							<div class="row">

								<div class="col col-d-6 col-t-6 col-m-12 border-line-v">
									<div class="skills-list list">
										<div class="skill-title border-line-h">
											<div class="icon"><i class="ion ion-android-list"></i></div>
											<div class="name">Languages</div>
										</div>
										<ul>
											<li> 
												<div class="name">C</div>
											</li>
											<li> 
												<div class="name">C++</div>
											</li>
											<li> 
												<div class="name">C#</div>
											</li>
											<li> 
												<div class="name">Python</div>
											</li>
											<li> 
												<div class="name">HTML</div>
											</li>
											<li> 
												<div class="name">CSS</div>
											</li>
											<li> 
												<div class="name">Java</div>
											</li>
											<li> 
												<div class="name">JavaScript</div>
											</li>
										</ul>
									</div>
								</div>

								<div class="col col-d-6 col-t-6 col-m-12 border-line-v">
									<div class="skills-list list">
										<div class="skill-title border-line-h">
											<div class="icon"><i class="ion ion-android-list"></i></div>
											<div class="name">Other</div>
										</div>
										<ul>
											<li> 
												<div class="name">AWS</div>
											</li>
											<li> 
												<div class="name">Azure</div>
											</li>
											<li> 
												<div class="name">SQL</div>
											</li>
											<li> 
												<div class="name">NoSQl</div>
											</li>
											<li> 
												<div class="name">WebSockets</div>
											</li>
											<li> 
												<div class="name">Rest APIs</div>
											</li>
											<li> 
												<div class="name">WebSockets</div>
											</li>
											<li> 
												<div class="name">Rest APIs</div>
											</li>
										</ul>
									</div>
								</div>						
								<div class="clear"></div>
							</div>						
						</div>

						<div class="content services">
							<div class="title">Projects</div>
							<div class="row service-items border-line-v">

								<div class="col col-d-6 col-t-6 col-m-12 border-line-h">
									<div class="service-item">
										<div class="icon"><span class="ion ion-code"></span></div>
										<div class="name">Web Development</div>
										<p>
											Modern and mobile-ready website that will help you 
											reach all of your marketing.
										</p>
									</div>
								</div>

								<div class="col col-d-6 col-t-6 col-m-12 border-line-h">
									<div class="service-item">
										<div class="icon"><span class="ion ion-music-note"></span></div>
										<div class="name">Music Writing</div>
										<p>
											Music copying, transcription, arranging and composition services.
										</p>
									</div>
								</div>

								<div class="col col-d-6 col-t-6 col-m-12">
									<div class="service-item">
										<div class="icon"><span class="ion ion-speakerphone"></span></div>
										<div class="name">Advetising</div>
										<p>
											Advertising services include television, radio, print, mail and web.
										</p>
									</div>
								</div>

								<div class="col col-d-6 col-t-6 col-m-12">
									<div class="service-item">
										<div class="icon"><span class="ion ion-ios-game-controller-b"></span></div>
										<div class="name">Game Development</div>
										<p>
											Developing memorable and unique mobile android, ios games.
										</p>
									</div>
								</div>

								<div class="clear"></div>
							</div>
						</div>
				</div>
			</div>
		</div>
	</div>
	
	<!--
		jQuery Scripts
	-->
	<script src="../static/js/jquery.min.js"></script>
	<script src="../static/js/jquery.validate.js"></script>
	<script src="../static/js/jquery.magnific-popup.js"></script>
	<script src="../static/js/imagesloaded.pkgd.js"></script>
	<script src="../static/js/isotope.pkgd.js"></script>
	<script src="../static/js/jquery.slimscroll.js"></script>
	<script src="../static/js/owl.carousel.js"></script>
	
	<!--
		Google map api
	-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDz2w7HUaWudHwd7AWQpCL48Qs050WOn9s"></script>
	
	<!--
		Main Scripts
	-->
	<script src="../static/js/scripts.js"></script>
	
</body>
</html>